* {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;  
}

.section {
    width: 100%;
    /* Flexbox properties */
    display: flex;
    justify-content: center;
}

.header,
.top,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    }

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color: white;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 36px;
    border-radius: 8px;
}

.flex_header,
.flex_top,
.flex_close {
    width: 75%;
    min-width: 300px;
    flex-wrap: wrap;
}

.flex_info,
.flex_quote {
    width: 65%
}


/* Section 1: Header */
.flex_header {
    /* Flexbox Properties */
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    padding: 16px 0px;
}

ul {
    margin: 0px;
    padding: 16px 0px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    /* Flexbox Properties */
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/* Section 2: Top of Page */
.top {
    padding: 100px 0px;
}

.flex_top {
    /* Flexbox Properties */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.top_content {
    /* Flexbox Properties */
    flex: 1;
}

.top_content button {
    margin: 16px 0;
}

.top_img {
    height: 100%;
    color: white;
    background-color: gray;
    /* Flexbox Properties */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section 3: Info */
.section.info {
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px 0;

}

.flex_info {
    /* Flexbox Properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info h2 {
    padding: 40px;
}

.container {
    /* Flexbox Properties */
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container p {
    color: #1F2937;
    width: 150px;
    font-size: 16px;
    text-align: center;
}

.box {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    margin: 5px;
    border-radius: 8px;
}


/* Section 4: Quote */
.flex_quote {
    padding: 100px 0;
    /* Flexbox Properties */
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 25px;
    /* Flexbox Properties */
    align-self: center;
}

.author {
    padding: 15px 50px 0 0;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    color: #1F2937;
    /* Flexbox Properties */
    align-self: flex-end;
    }

/* Section 5: Close of Page */
.flex_close {
    padding: 50px 0;
    margin: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    /* Flexbox Properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout_close {
    width: 100%;
    padding: 0;
    /* Flexbox Properties */
    display: flex;
    justify-content: space-evenly;
}

.layout_close button {
    border: 2px solid #F9FAF8;
}

/* Section 6: Footer */
.footer {
    padding: 36px 0;
}