* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Arial, sans-serif;  
}

/* Section 1 */
.header {

}

.placeholder {
    height: 150px;
    width: 300px;
}


/* Section 2 */
.info {

}

.box {
    height: 100px;
    width: 100px;
}


/* Section 3 */


/* Section 4 */



