* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Arial, sans-serif;  
}

.header,
.top,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
}


/* Section 1 */
.logo {
    font-size: 18px;
    font-weight: bold;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 18px;
    /* Flexbox Properties */
    display: flex;
    flex-direction: row;
    gap: 15px;
}


/* Section 2 */
.top {
    background-color: #1F2937;
    color: #F9FAF8;

}

.placeholder {
    height: 150px;
    width: 300px;
}


/* Section 3 */
.info {

}

.box {
    height: 100px;
    width: 100px;
}


/* Section 4 */

.quote {
    background-color: #E5E7EB;
}


/* Section 5 */


/* Section 6 */
